body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #F2F2F2;
}

.intro {
    background-image: url(../img/img-tenebrium/backTenebrium.png);
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    height: 50vh;
    color: #F0F0EA;
}

.intro h1 {
    font-size: 5.6rem;
    margin: -25px;
    font-weight: bold;
}

.intro h1 span {
    color: #f9b838;
}

.intro h2 {
    font-size: 4.8rem;
    font-weight: 300;
}

.sections {
    padding: 10px;
    text-align: center;
}

.sections.green {
    background: #46594E;
    color: #F2F2F2;
}

.sections h2 {
    font-size: 4rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.sections h2 span {
    color: #f9b838;
}

.content-text {
    max-width: 800px;
    margin-left: 50px;
    font-size: 2.4rem;
    line-height: 1.6;
    text-align: left;
}

.life-cycle {
    background-color: #46594E;
    padding-top: 10px;
}

.cycle-stages {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.stage {
    margin: 20px;
    text-align: center;
}

.circle {
    width: 200px;
    height: 200px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.circle img {
    width: 80%;
    height: auto;
}

.stage p {
    font-size: 2.4rem;
    color: #F2F2F2;
}

.advantages {
    background-color: #F2F2F2;
}

.advantage-list {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.advantage {
    background-color: #fff;
    border-radius: 8%;
    padding: 10px;
    width: 250px;
    height: 120px;
    display: flex;
    align-items: center;
    margin: 20px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.advantage img {
    width: 60px;
    height: 60px;
    margin-right: 8px;
}

.advantage p {
    font-size: 2.4rem;
    text-align: center;
    font-weight: bolder;
}

.products {
    background-color: #F2F2F2;
    text-align: left;
    margin-left: 50px;
    padding: 2rem 0;
}

.products p {
    font-size: 2.4rem;
}

.learn-more {
    display: inline-block;
    margin-top: 10px;
    padding: 15px 60px;
    background-color: #ffa500;
    color: black;
    text-decoration: none;
    border-radius: 50px;
    font-size: 1.6rem;
    font-weight: bolder;
}

@media (max-width: 80rem){
    .intro{
        text-align: center;
    }
    
    .intro h1{
        font-size: 3.2rem;
    }

    .intro h2{
        font-size: 2.4rem;
        padding-top: 20px;
    }

    .sections h2 {
        font-size: 2rem;
    }

    .content-text {
        font-size: 0.9rem;
    }

    }
    .circle {
        width: 100px;
        height: 100px;
    }

    .circle img {
        width: 60px;
    }

    .stage p,
    .advantage p {
        font-size: 0.9rem;
    }

    .advantage img {
        width: 60px;
    }
    
